<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>《Node.js 实战》读者反馈</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">《Node.js 实战》读者反馈</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/author.html">作者简介</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">选择章节 <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <% locals.index.forEach(function (item) { %>
            <li><a href="/<%= item.filename %>"><%= item.title %> (<%= item.author.name %>)</a></li>
          <% }); %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">购买 <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.amazon.cn/gp/product/B00JPVNIFY" target="_blank">亚马逊</a></li>
            <li><a href="http://product.dangdang.com/23459288.html" target="_blank">当当网</a></li>
            <li><a href="http://product.china-pub.com/3769826" target="_blank">互动出版网</a></li>
            <li><a href="http://item.jd.com/11449805.html" target="_blank">京东</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">

  <% if (locals.isHome) { %>
  <!-- start 首页 -->
    <div>
      <p><%= locals.data.summary %></p>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p class="book-img"><img src="/assets/img/book.png"></p>
        </div>
        <div class="col-md-6">
          <div class="list-group">
          <% locals.index.forEach(function (item) { %>
            <a href="/<%= item.filename %>" class="list-group-item">
              <h4 class="list-group-item-heading"><%= item.title %>(<%= item.author.name %>)</h4>
              <p class="list-group-item-text"><%= item.content %></p>
            </a>
          <% }); %>
          </div>
        </div>
      </div>
    </div>
  <!-- end 首页 -->
  <% } else if (locals.isSection) { %>
  <!-- start 章节 -->
    <div>
      <h1><%= locals.data.title %></h1>
      <p>作者: <a class="author" href="/author.html#<%= locals.data.author.username %>"><%= locals.data.author.name %></a></p>
      <p><%= locals.data.content %></p>
    </div>
  <!-- end 章节 -->
  <% } else if (locals.isAuthor) { %>
  <!-- start 作者 -->
    <h1>作者简介</h1>
    <div class="list-group">
    <% locals.authors.forEach(function (item) { %>
      <a href="#<%= item.username %>" class="list-group-item" id="<%= item.username %>">
        <h4 class="list-group-item-heading"><%= item.name %></h4>
        <p class="list-group-item-text"><%= item.about %></p>
      </a>
    <% }); %>
    </div>
  <!-- end 作者 -->
  <% } %>
    <div class="ds-thread"></div>
  </div>
</body>
</html>
<script src="/assets/js/jquery-2.1.0.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- 多说评论 -->
<script type="text/javascript">
  var duoshuoQuery = {
    short_name: "nodejsbook"
  };
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';
    ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
<!-- Google分析 -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26599868-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
